src/main/resources/META-INF/hello.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name='HelloService' targetNamespace='http://org.jboss.ws/samples/wssecurity' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.ws/samples/wssecurity' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://org.jboss.ws/samples/wssecurity' version='1.0' xmlns:tns='http://org.jboss.ws/samples/wssecurity' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='HelloException' nillable='true' type='tns:HelloException'/>
   <xs:complexType name='UserType'>
    <xs:sequence>
     <xs:element minOccurs='0' name='msg' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='HelloException'>
    <xs:sequence>
     <xs:element name='message' nillable='true' type='xs:string'/>
     <xs:element name='code' type='xs:int'/>
     <xs:element name='reason' nillable='true' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='HelloException'>
  <part element='tns:HelloException' name='HelloException'></part>
 </message>
 <message name='Hello_echoUserTypeResponse'>
  <part name='return' type='tns:UserType'></part>
 </message>
 <message name='Hello_echoUserType'>
  <part name='user' type='tns:UserType'></part>
 </message>
 <message name='Hello_triggerExceptionResponse'></message>
 <message name='Hello_triggerException'>
  <part name='String_1' type='xsd:string'></part>
  <part name='int_2' type='xsd:int'></part>
 </message>
 <portType name='Hello'>
  <operation name='echoUserType' parameterOrder='user'>
   <input message='tns:Hello_echoUserType'></input>
   <output message='tns:Hello_echoUserTypeResponse'></output>
  </operation>
  <operation name='triggerException' parameterOrder='String_1 int_2'>
   <input message='tns:Hello_triggerException'></input>
   <output message='tns:Hello_triggerExceptionResponse'></output>
   <fault message='tns:HelloException' name='HelloException'></fault>
  </operation>
 </portType>
 <binding name='HelloBinding' type='tns:Hello'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echoUserType'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/samples/wssecurity' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws/samples/wssecurity' use='literal'/>
   </output>
  </operation>
  <operation name='triggerException'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.ws/samples/wssecurity' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.ws/samples/wssecurity' use='literal'/>
   </output>
   <fault name='HelloException'>
    <soap:fault name='HelloException' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='HelloService'>
  <port binding='tns:HelloBinding' name='HelloPort'>
   <soap:address location='http://localhost:8080/jaxws-samples-wssecurity-encrypt/hello'/>
  </port>
 </service>
</definitions>
